<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wzy.dao.IProjectInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wzy.entity.ProjectInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="access_control_type" property="accessControlType" />
        <result column="white_list" property="whiteList" />
        <result column="type_id" property="typeId" />
        <result column="group_id" property="groupId" />
        <result column="is_private" property="isPrivate" />
        <result column="open_prefix" property="openPrefix" />
        <result column="archive" property="archive" />
        <result column="archive_time" property="archiveTime" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="is_delete" property="delete" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_time" property="lastModifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, access_control_type, white_list, type_id, group_id, is_private, open_prefix, archive, archive_time, begin_time, end_time, is_delete, version, created_by, created_time, last_modified_by, last_modified_time
    </sql>

</mapper>
