<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzy.dao.IProjectPermissionMapper">

    <select id="getPermissionByProIdAndUserId" resultType="cn.wzy.entity.ProjectPermission">
        SELECT p.id id, p.project_id projectId, p.user_id userId, p.role_id roleId
        FROM project_permission p
        WHERE p.project_id = #{projectId} AND p.user_id = #{userId}
        LIMIT 1
    </select>

    <select id="getAllPermissionByUserType" resultType="cn.wzy.entity.Permission">
        select p.id id,p.perm_code permCode,p.perm_name permName,p.perm_url permUrl,p.parent_code parentCode,p.isMenu isMenu
        from smbms_permission p,smbms_perm_role pr
        where p.id=pr.perm_id and pr.role_id=#{roleId,jdbcType=INTEGER} and isMenu=0
        order by p.perm_code asc
    </select>

    <select id="getAllNotMenuByUserType" parameterType="java.lang.Integer" resultType="cn.wzy.entity.Permission">
        select p.id id,p.perm_code permCode,p.perm_name permName,p.perm_url permUrl,p.parent_code parentCode,p.isMenu isMenu
        from smbms_permission p,smbms_perm_role pr
        where p.id=pr.perm_id and pr.role_id=#{roleId,jdbcType=INTEGER} and isMenu=1
        order by p.id asc
    </select>

</mapper>